*{
    margin:0;
	padding:0;
    box-sizing:border-box;	
}
.container{
	width:90%;
	margin:0 auto;
}
.row
{
    display:flex;
    flex-wrap:wrap;
}
body{
	background-color:black;
}
.col_6{
	width:50%;
	padding:0 10px;
}
.col_12{
	width:100%;
	padding:0 10px;
}
.nav_item{
	line-height:3;
}
.nav_list{
	display:flex;
    gap:30px;
    align-items:center;
    justify-content:center;
	list-style:none;
	padding-bottom:25px;
	/* font-size:40px; */
}
.nav_list li a{
    font-family: 'open Sans', sans-serif;
	text-decoration:none;
	font-size:13px;
	font-weight:600;
	display:flex;
	color:white;
	transition:all 0.2s ease;
}

.nav_list li a:hover{
	color:orange;
}
.nav_list li a.color{
	color:#ed502e;
}
.heading{
	margin-top:10px;
	margin-left:20px;
}
.heading h5{
	color:white;
	letter-spacing:3px;
	font-size:12px;
	padding-bottom:10px;
}
.heading h1{
	color: #cda45e;;
}
.heading h5::after{
	content:"";
	width:10%;
	height:1px;
	background-color:white;
	display:inline-block;
	position:absolute;
    top:17px;
	margin-left:11px;
	}
.flex{
	padding-top:10px;
	padding-bottom:30px;
	justify-content:space-between;
	display:flex;
}
.flex_content{
	
	display:flex;
}
.flex_img img{
	width:75px;
	height:75px;
	border-radius:50%;
	border:5px solid gray;
}
.flex_concept{
	padding-left:20px;
	color:white;
}
.flex_concept p{
	font-style:italic;
	color:gray;
}	

.flex_concept h3{
    display:inline-block;
	background-color:black;
	position:relative;
	z-index:1;
	font-size:20px;
	padding-bottom:5px;
	padding-right:15px;
}
.flex_concept h3:hover{
	color:orange;
}
.flex_amount p{
	position:relative;
	color:orange;
}
.flex_amount p::after{
	content:"";
	width:1350%;
	border:2px dotted white;
	position:absolute;
    top:11px;
	/* margin-right:60px; */
	/* padding:0 200px; */
	right:60px;
	}
